.layout{
  height: 100vh;
  box-sizing: border-box;
  background: #ece9e9;
  overflow: auto;
  padding-bottom: 50px;

  &-tabBar{
    border-top: solid 1px #d5d1d1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
  }

  .adm-tab-bar-item-active{
    color: #f68f3f;
  }
}



